**.md
log/**
.ropeproject/*
**.~lock.reqs.pptx#
**__pycache__**
**.pyc
src/.ipynb_checkpoints/**
**.log
**ignore
.git/**
test.sh
deploy.sh
src/*_test.py
**.ipynb
.venv/**
src/nohup.out
**.~lock.*.xlsx#
**.fuse_hidden**
src/get_experiment_results.py
Dockerfile
**.sql
**._*
deploy.sh
**.log
**.toml